# Python Introduction

In [1]:
print("Hello WOrld")

Hello WOrld

In [3]:
print("Hello World")
print(5)
print("Hello")

Hello World
5
Hello

In [4]:
print(1+4)

5

In [5]:
print("9876543210")

9876543210

In [6]:
print("a"+"3") #string

a3

In [7]:
print(3+4)

7

In [ ]:
print(3**2)

power of the number

In [9]:
print(2*3*2)

12

In [11]:
print(4/3) #quotient

1.3333333333333333

## ESC + a -> Add the cell above
## ESC + b -> Add the cell below'
## ESC + d d -> delete the cell
## Esc + m =-> change the markdown
## Esc +y ->  change the code cell

In [12]:
print(6% 4) 
#remainder

2

# Data types in Python

## string
## integer
## float

## complex

In [13]:
type("Ram")

str

Note :Anything enclosed by double or single quotes is a string

In [14]:
type(233)

int

In [16]:
type(0.2)

float

In [17]:
type("Nepali")

str

In [18]:
type( True)

bool

In [19]:
type(False)

bool

In [20]:
type('Hari')

str

In [21]:
# alpha numeric also string
type('a3144')

str

## boolean

True or False

In [22]:
a = 4
a == 4 
#

True

In [23]:
name = "Ram"
print('Shyam')
print(name)

Shyam
Ram

In [25]:
print(type("Ram"))
print(type(name))

<class 'str'>
<class 'str'>

### if the value is string than the variable type is also the sting
#### name = "Ram"
#### print(type(name))

In [36]:
name = "Rakesh"
age = "24"
address = "Kalanki"
phone = "9876543210"
print("My name is ", name,".",  "I am ", age, "My address", address)

My name is  Rakesh . I am  24 My address Kalanki

In [38]:
print(f"My name is {name}. I am {age}. Address {address}, Phone {phone}")

My name is Rakesh. I am 24. Address Kalanki, Phone 9876543210

# f-string or String formating

In [ ]:
# variable use